<h2 class="page-header"><%= book.title %></h2>
<img height="150" width="100" src="<%= book.coverImagePath %>" />
<div>
  <p>Author: <%= book.author.name %></p>
  <p>Published: <%= book.publishDate.toDateString() %></p>
  <p>Pagecount: <%= book.pageCount %></p>
  <% if (book.description) { %>
    <p>Description: <%= book.description %></p>
  <% } %>
</div>
<a href="/books/<%= book.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', {dynamicURL: `/books/${book.id}`}) %>
<a href="/books/<%= book.author.id %>/edit">View author</a>